<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyf.com.appframe">

    <application
        android:name="xyf.com.appframe.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="xyf.com.appframe.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="navigation|orientation|screenSize|keyboardHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="xyf.com.appframe.WeatherDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="navigation|orientation|screenSize|keyboardHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="xyf.com.appframe.MusicSearchActivity"
            android:screenOrientation="portrait"
            android:configChanges="navigation|orientation|screenSize|keyboardHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="xyf.com.appframe.MusicPlayActivity"
            android:screenOrientation="portrait"
            android:configChanges="navigation|orientation|screenSize|keyboardHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        
        <service android:name="xyf.com.appframe.MusicPlayService" >

        </service>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>